@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
  local('Roboto-Regular'),
  url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
  format('woff');
}

* {
  font-family: 'Roboto' !important;
}

.pivot-body{
  border: 1px solid rgb(220,221,221) !important;
}

.p-value, .p-dim-member{
  color: rgb(104,104,105) !important;
}

.p-fixed-corner {
  /*background: none !important;*/
}

.p-fixed-rows {
  z-index: 3 !important;;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% 5px !important;
  background-image: -ms-linear-gradient(right, rgb(217, 235, 245) 0%, rgb(112, 171, 219) 100%) !important;
  background-image: -moz-linear-gradient(right, #D9EBF5 0%, #70ABDB 100%) !important;
  border-width: 0 0 5px 0;
  -webkit-border-image:
  -webkit-gradient(linear, right top, left top, color-stop(0, #D9EBF5), color-stop(1, #70ABDB)) 100% 1;
  -webkit-border-image:
  -webkit-linear-gradient(right, #D9EBF5 0%, #70ABDB 100%) 100% 1;
  -o-border-image:
  -o-linear-gradient(right,#D9EBF5 0%, #70ABDB 100%) 100% 1;
  -moz-border-image:
  -moz-linear-gradient(right, #D9EBF5 0%, #70ABDB 100%) 100% 1;
}

.uc-tag{
  background-color: #FC9112 !important;
}

#prism-toolbar #widgeteditor-toolbar .tab-host .tab-design{
  width: 49% !important;
}

.text-file-input-holder .input-file-wrapper{
  width: 145px !important;
}

.uc-ok{
  width: 46px !important;
}

.btn-run-sync {
  width: 123px !important;
}

.share-host .dashboard-url-holder .main-text{
  font-size: 14px !important;
}

.search-box-input{
  width: 173px !important;
}

.share-host .share-body .email-notification-holder .subscribe-section{
  padding-top: 0px !important;
}

.text-file-input-holder .input-file-wrapper{
  width: 146px !important;
}

.fe-colors .fe-colors-condition .condition-list .row .condition .fe-left-cond .func-icon-holder{
  width: 23px;
}