

.body{
    overflow: hidden;
}

.collapsed{
    display:block!important;
}
ul.groupList{
    display: none;
    padding-left: 20px;
}
.filterMembersGroup{
    cursor: pointer;
    padding-top: 3px;
}
@-moz-document url-prefix() {
    .timeFilterListContainer li{
        padding-right: 3px!important;
        white-space: nowrap;
        word-wrap: break-word;
    }
}
.ie .timeFilterListContainer li{
    padding-right: 3px!important;

}
.timeFilterListContainer{
    height: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.timeFilterListContainer li{
    padding-right: 7px;
    white-space: nowrap;
    word-wrap: break-word;
}
.timeFilterContainer.selected{
    border-color: #86b817;
    border-bottom: 0px;
}
.timeFilterContainer{
    border: solid #d1d1d1 1px;
    text-align: center;
    width:170px;
    height:25px;
    margin-top: 5px;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffffff;
    margin-left: -4px;
}
.groupedTimeFilterContainer{
    border: solid #d1d1d1 1px;
    text-align: center;
    width:170px;
    height:50px;

    cursor: pointer;
    vertical-align: middle;
    background-color: #ffffff;
    margin-left: -4px;
}
.customCaption{
    line-height:25px;
}
.groupedTimeFilterListContainer{
    width: calc(100% - 216px);
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: table;
}
.timeGroupList{
    display: inline-flex;
    float: right;
    margin-right: 5px;
}
ul.separatedFilterMembers{
    padding: 0px;
}
.timeFilterMember{
    margin-left: 11px;
}
.timeFilterList{
    padding-left: 5px;
    vertical-align: middle;
    margin: auto;
}
.timeGroupItem{
    width: 100%;
}
.timeFilterGroupSeparator{

    width: 160px;
    height:1px;
    background:#a5a5a5;
    position: relative;

    margin:3px;
    display: inline-block;

}

.timeFilter
{
    display: inline-block!important;
    word-wrap: normal!important;
    white-space: nowrap;
    float:left!important;
    padding: 3px;
    width:auto!important;
}

.vSeparator{
    border-right:1px solid #d1d1d1;
    height:16px;
    width:0;
    padding-left: 4px;
    position: absolute;
    display: inline;
    float: left;
}

.groupMember{
    padding-top: 1px;
    padding-bottom: 0;
    margin: 0;
    width:146px!important;
}

.groupCaption{
    float: left;
}

.timeGroupCaption{
    float: left;
    margin-left: 7px;
    color:#a5a5a5;
}


img.selection{
    visibility: hidden;
    margin-top: 2px;
    margin-right: 5px;
    overflow:auto;
    float: right;
}

.toDatePicker .fromDatePicker{
float: right;
    height:23px;
}

.fromDatePicker{
    border-bottom: 0px!important;
}
.fromRangeText{
    border-bottom: 0px!important;
}
input[type='text']{
    width: 121px;
    /*height:18px;*/
    text-align: center;
    border:1px solid #86b817;
    color: #666666;
    vertical-align: middle;
    font-family: 'Ubuntu', 'sans-serif', 'serif';
    font-weight: bold;
    font-size: 13px;
    display:table-cell;
    margin: 0;
}
a img
{
    border:none;
}
.invalid{
    border-color: red;
}
img.selected{
    visibility: visible;
}

.customDates{
    display: none;
    vertical-align: middle;

}


.timeRange{
    white-space:nowrap;
    width: 172px;
    height:25px;
    word-wrap: break-word;
    display:  -ms-inline-flexbox;
    display:  inline-flex;
    margin-left: -4px;

}

.rangeText{
    float:left;
    width:48px;
    height:23px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    color:#86b817;

    border: solid #86b817 1px;
    border-right: 0px;
    /*border-top: 0px;*/
}

.rangeText:hover{
    background-color: #86b817;
    color: white;
}
img.collapsibleInd{

    margin-top: 2px;
    margin-right: 8px;
    overflow:auto;
    float: left;

}img.collapsed{
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
}
.filterHeader{
    color: #494949;
    margin-left: 4px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.filterHeader a:hover{
    text-decoration: none;
    color: #494949;
}

.listContainer{

}
.line-separator{
    width: 170px;
    height:1px;
    /*min-height: 2px;*/
    background:#717171;
    position: relative;
    margin-top: -1px;
    margin-bottom: 9px;
    /*padding: 0.1px;*/

}
.disabled{
    cursor:default;
    opacity: 0.2;
}
li.filter {
    padding-top: 30px;
    width: 150px;
    margin: 0;
}
.filtersList{
    padding-top: 0;
    margin-top: -8px;
    margin-left: 0;
    padding-left:20px;

}
li {

    list-style-type:none;
}

ul{
    list-style-type:none;

}
ul.filterMemberList{
    padding-left: 4px;

}
li.filterMember{
    padding-top: 3px;
    /*margin-bottom: 11px;*/
    cursor: pointer;
    width:166px;
    overflow:hidden;
    vertical-align: middle;
    height: 15px;

}

html{
    overflow: hidden;
}



.dashboardMember{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#e6e6e6;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
img.logoImg {
  max-width: 70px;

    width: 50px;
    height:25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clearfix {
  margin-left: 0;
  vertical-align: middle;
  height: 100%;
  width:100%;
  display: inline-flex;
  display:  -ms-inline-flexbox;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.navContainer{
    width:calc(100% - 216px);
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: table;
}

#navlist
{
    padding-left: 0;
    display: inline-flex;
}
#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 50px;
}


.selected {
    color:#86b817
}
.content{
    height: calc(100% - 50px);
    width: calc(100% - 192px);
    margin-left: 201px;
    position: absolute;
}

.filterPane {
    width: 210px;
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    background-color: #fafafa;
    margin:0;
    padding: 0;
    float: left;
    position: absolute;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #494949;
    font-weight: bold;
    border-right:1px solid #d1d1d1;
    text-transform: uppercase;
    z-index: 50;

}

body {
  margin: 0;
  padding:0;
}

.header{
    margin-bottom: 2px;
}

.top-bar {
	background: #606060;
	border: transparent none 0;
	height: 42px;
	z-index: 999;
    width:100%;
    vertical-align: middle;
    border-bottom: solid #b3b3b3 1px;

}

.logoText{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;

    color: #b3b3b3;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
	z-index:900;
    vertical-align: middle;
    display: table;
    text-align: center;
    width: 210px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
