<!DOCTYPE html>

<html lang="en" ng-app="app">
    <head>
        <!--do not allow cache-->
        <!--<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">-->
        <!--<meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">-->
        <!--script-->

        <!--style-->
        <link rel="stylesheet" type="text/css" href="/ebay/resources/libs/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div ng-controller="mainController">
            <div class="header">
                <div class="top-bar">
                    <div class="container clearfix" ng-model="dashboards">

                            <div class="logo">
                                <a href="/ebay">
                                    <img src="/ebay/resources/images/logo.gif" class="logoImg" alt="eBay" />

                                </a>
                                <div class="logoText">marketing intelligence platform</div>
                            </div>
                            <div class="navContainer">
                                <ul id="navlist">
                                    <li class="dashboardMember {{dashboard.selected}}" ng-repeat="dashboard in dashboards" ng-click="changeDashboard(dashboard)">
                                        {{dashboard.caption}}
                                    </li>
                                </ul>
                            </div>
                        <div class="tabs-cont" style="margin-left: 40%"></div>
                    <div class="top-bar-left">
                    </div>
                        <div class="top-bar-right">
                        </div>
                    </div>
                </div>
            </div>
            <div class="filterPane" ng-controller="filtersController">
                <ul class="filtersList">
                    <li class="filter" ng-repeat="filter in selectedDashboard.filterGroups">
                        <filter-group></filter-group>
                    </li>
                </ul>
                <div class="filterReset">
                    <button class="ebayButton reset" ng-click="resetClick()">RESET</button>
                </div>                
            </div>
        	<div class="content">
        		<iframe name="dashboard" frameBorder="0" ng-src="{{dashboardURL}}" width="100%" height="100%" seamless ="seamless" ng-click="catchClick()"></iframe>

        	</div>
        </div>
        <script type="text/javascript" src="/ebay/resources/libs/jquery-2.1.1.min.js"></script>

        <script type="text/javascript" src="/ebay/resources/libs/underscore-min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/angular.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/angular-touch.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/angular-load.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/jquery.blockUI.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/ui-bootstrap-custom-0.13.0.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/ui-bootstrap-custom-tpls-0.13.0.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/moment.js"></script>

        <script type="text/javascript" src="/ebay/js/globals.js"></script>
        <script type="text/javascript" src="/ebay/js/authenticate.js"></script>        
        <script type="text/javascript" src="/ebay/js/app.js"></script>
        <script type="text/javascript" src="/ebay/js/directives.js"></script>
        <script type="text/javascript" src="/ebay/js/services.js"></script>
</html>
