html{
    overflow: hidden;
}
body {
  margin: 0;
  padding:0;
}
.body{
    overflow: hidden;
}
li {
    list-style-type:none;
}
ul{
    list-style-type:none;
}
.header{
    margin-bottom: 2px;
}
.top-bar {
    background: #606060;
    border: transparent none 0;
    height: 42px;
    z-index: 999;
    width:100%;
    vertical-align: middle;
    border-bottom: solid #b3b3b3 1px;

}
.clearfix {
  margin-left: 0;
  vertical-align: middle;
  height: 100%;
  width:100%;
  display: inline-flex;
  display:  -ms-inline-flexbox;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Brand */
.logo {
    z-index:900;
    vertical-align: middle;
    display: table;
    text-align: center;
    width: 210px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logoText{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;

    color: #b3b3b3;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.logoImg {
  max-width: 70px;

    width: 50px;
    height:25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*/////////////////////////////////////*/
/* Nav Bar */
.navContainer{
    width:calc(100% - 216px);
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: table;
}
#navlist
{
    padding-left: 0;
    display: inline-flex;
}
#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 50px;
}
.dashboardMember{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#e6e6e6;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.selected {
    color:#86b817
}
/*/////////////////////////////////////*/
/* Filers Pane */
.filterPane {

    width: 209px;
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    background-color: #fafafa;
    margin:0;
    padding: 0;
    float: left;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #494949;
    font-weight: bold;
    border-right:1px solid #d1d1d1;
    text-transform: uppercase;
    z-index: 50;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;  
}
.filterPane .filtersList{
    margin: 25px 19px 14px 19px;
    padding: 0px;
}
.filterPane .filtersList li.filter {
    width:171px;
    margin: 0px 0px 36px 0px;
    padding: 0;
}
.filterPane .filterReset{
    position: absolute;
    bottom: 14px;
    margin-left: 66px;
}
/* Filter */
.filterHeader{
    color: #494949;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 6px;
    text-transform: uppercase;
    cursor: pointer;
    height: 17px;
}
.filterHeader .dimTitle {
    display: inline-block;
    float: left;
}
.filterHeader .selectedValue,
.filterHeader .collapseDim  {

}
.filterHeader .selectedValue {
    display: block;
    color: #86b817;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.filterHeader:hover .selectedValue{    
    color: #9ED91B;
}
.collapseDim {
    background-image: url('/ebay/resources/images/ebay_uparrow_sprite_16.png');
    width: 16px;
    height: 16px;
    margin-bottom:4px;
    margin-left: 151px;
    background-position: 0px 0px;    
}
.collapseDim:hover{
    background-position: 0px 16px;    
}
.line-separator{
    height:1px;
    background:#D1D1D1;
    position: relative;
    margin-top: -1px;
    margin-bottom: 9px;
}
ul.filterMemberList{
    padding-left: 4px;
}
.filterMemberList .filterMember {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #999999;
    cursor: pointer;
    overflow:hidden;
    vertical-align: middle;
}
.filterMemberList .filterMember.selectedMember {
    color: #86b817;
}
.filterMemberList .filterMember:hover {
    color: #9ED91B;
}
.filterMemberList .filterMember .memberOpenMenu {
    display: inline-block;
    float: right;
    background-image: url('/ebay/resources/images/ebay_sidearrow_16.png');
    width: 16px;
    height: 16px;
    visibility: hidden;
}
.filterMemberList .filterMember:hover .memberOpenMenu {
    visibility: visible;
}
.filterMemberList .filterMember .open {
    color: #9ED91B;
}
.filterMemberList .filterMember .open .memberOpenMenu {
    visibility: visible;
}
/* Member Selector  */
.msContainer {
    color: #999999;
    cursor: default;
    border: 1px solid #D1D1D1;
    box-shadow: 2px 2px 2px #D5D5D5;
    width:199px;
    min-height:293px;
    background-color: #fafafa;
    position: fixed;
    left : 212px;
    margin-top: -22px;
    padding: 13px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;  
}
.msSearch {
    height: 24px;
    margin-bottom: 8px;
}
.msSearch .msSelectAll {
    cursor: pointer;
    float: left;
    display: inline-block;
    width:24px;
    height: 24px;
    background-color: #F0F0F0;
    background-image: url('/ebay/resources/images/ebay_selection_sprite_20.png');    
}
.msSearch .msSelectAll.all {
    background-position: 22px 2px;
}
.msSearch .msSelectAll.all:hover {
    background-position: 22px 22px;
}
.msSearch .msSelectAll.none {
    background-position: 2px 2px;
}
.msSearch .msSelectAll.none:hover {
    background-position: 2px 22px;
}
.msSearch .msSelectAll.some {
    background-position: 42px 2px;
}
.msSearch .msSelectAll.some:hover {
    background-position: 42px 22px;
}
.msSearch .msSearchBox {
    display: inline-block;
    background-color: transparent;
    color: #999999;
    width:142px;
    height: 24px;
    margin-left: 4px;
    border: 1px solid #E6E6E6;
    padding-left: 8px;
}
.msSearch .msSearchBox:focus{
    outline-color: #96CF1A;
    border: 1px solid #96CF1A;
}
.msSearch ::-webkit-input-placeholder { 
    color: #BEBEBE;
}
.msSearch::-moz-placeholder { 
   color: #BEBEBE;
}
.msSearch :-ms-input-placeholder  { 
    color: #BEBEBE;
}
.msSearch input:-moz-placeholder { 
    color: #BEBEBE;
}
.msSeparator {
    width : 171px;
    background-color: #E6E6E6;
    height: 1px;
}
.msMembersList {
    height: 168px;
    overflow-y : scroll;
    padding: 0px;
    margin-bottom: 5px;
}
.msMembersList .msMember {
    height: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.msMembersList .msMember .msMemberCaption {
    display: block;
    white-space: nowrap;
    line-height: 20px;
    margin-left: 15px;
}
.msMembersList .msMember .msMemberCaption.msSelectedMember {
    color: #86b817;
}
.msMembersList .msMember .msCheckBox {
    float: left;
    margin-left: 2px;
}
.checkBox {
    display: inline-block;
    background-image: url('/ebay/resources/images/ebay_selection_sprite_20.png');
    height: 20px;
    width : 20px;
}
.checkBox.msCleared {
    background-position: 0px 0px;
}
.checkBox.msCleared:hover {
    background-position: 0px 20px;
}
.checkBox.msChecked {
    background-position: 20px 0px;
}
.checkBox.msChecked:hover {
    background-position: 20px 20px;
}
.msTagsContainer {
    max-height: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 28px;
    margin-top: 4px;
}
.msMemberTag {
    display: inline-block;
    padding : 0px 9px 0px 9px;
    line-height: 24px;
    height: 24px;
    background-color: #86b817;
    border: 1px solid #86b817;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 4px 4px 0px;
}
.msButtonSection{
    padding-top:13px;
    float: right;
}
.ebayButton{
    height: 30px;
    background-color: transparent;
    border: 1px solid #86b817;
    color: #86b817;
    font-size: 14px;
    margin-left: 6px;
}
.ebayButton:hover{
    background-color: #86b817;
    border: 1px solid #86b817;
    color: #FFFFFF;
}
.ebayButton:focus{
    outline: none;
}
.ebayButton.ok {
    width: 56px;
}
.ebayButton.cancel {
    width : 76px;
}
.ebayButton.reset {
    width: 67px;
}
/* Date Range Selector */
.drsContainer {
    color: #999999;
    cursor: default;
    border: 1px solid #D1D1D1;
    box-shadow: 2px 2px 2px #D5D5D5;
    width:199px;
    height:137px;
    background-color: #fafafa;
    position: fixed;
    left : 212px;
    margin-top: -22px;
    padding: 13px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;  
}
.drsPickersArea{
    margin-left: 6px;
    margin-bottom: 12px;
}
.drsPickersArea .drsDatePicker {
    line-height: 24px;
    margin-bottom: 6px;
}
.drsPickersArea .drsDatePicker .drsPickerCaption{
    display: inline-block;
}
.drsPickersArea .drsDatePicker .datePicker {
    width: 120px;
    height: 24px;
    float: right;
    display: inline-block;
}
.drsPickersArea .drsDatePicker .datePicker:focus {
    outline-color: #96CF1A;
    border: 1px solid #96CF1A;
}
.drsSeparator {
    background-color: #E6E6E6;
    height: 1px;
}
.drsButtonSection{
    padding-top:12px;
    float: right;
}
/*/////////////////////////////////////*/
/* Content Area */
.content{
    height: calc(100% - 50px);
    width: calc(100% - 192px);
    margin-left: 201px;
    position: absolute;
}


