<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
    <!--do not allow cache-->
    <!--<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">-->
    <!--<meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">-->
    <!--script-->

    <!--style-->

    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="/ebay/resources/libs/jquery.datepick.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
</head>
<body >

<div class="header">
        <div class="top-bar">
            <div class="container clearfix" ng-model="dashboards">

                    <div class="logo">
                        <a href="/ebay">
                            <img src="/ebay/resources/images/logo.gif" class="logoImg" alt="eBay" />

                        </a>
                        <div class="logoText">marketing intelligence platform</div>
                    </div>
                    <div class="navContainer">
                        <ul id="navlist" ng-controller="dashboardTabberController" ng-include="'/ebay/mainapp/dashboardTabber/dashboardHeaderTemplate.html'">

                        </ul>
                    </div>
              <!--<div class="pipe"></div>-->
                <div class="tabs-cont" style="margin-left: 40%"></div>
            <div class="top-bar-left">
            </div>
                <div class="top-bar-right">
                </div>
            </div>
        </div>
    </div>

    <div class="filterPane" ng-controller="filtersController">
        <ul class="filtersList">
            <li class="filter" ng-repeat="filter in filters" >
                <div class="filterHeader" >
                    {{filter.caption}}
                </div>


                <div class="line-separator"></div>
                <div  class="listContainer" >
                    <ul class="filterMemberList" ng-include="getInclude(filter)">

                    </ul>
                </div>
            </li>
        </ul>
    </div>
	<div class="content" ng-controller="currentDashboardCtrl">
		<iframe name="dashboard" frameBorder="0"  src="{{currentDashboard.frameUrl}}" width="100%" height="100%" seamless ="seamless" ng-click="catchClick()"></iframe>
	</div>

<!--<script type="text/javascript" src="/ebay/loadfiles.js"></script>-->
<script type="text/javascript" src="/ebay/mainapp/globals.js"></script>
<script type="text/javascript" src="/ebay/mainapp/filters/Filter.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/ebay/mainapp/authenticate.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/underscore-min.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/angular.min.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/angular-touch.min.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/angular-load.min.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/jquery.blockUI.js"></script>
<script type="text/javascript" src="/ebay/mainapp/filters/filtersController.js"></script>
<!--<script type="text/javascript" src="javascript:getScript('/ebay/mainapp/filters/filtersController.js');"></script>-->
<script type="text/javascript" src="/ebay/mainapp/filters/filterDirective.js"></script>
<script type="text/javascript" src="/ebay/mainapp/dashboardTabber/dashboardTabberController.js"></script>
<script type="text/javascript" src="/ebay/mainapp/app.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/jquery.plugin.min.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/jquery.datepick.js"></script>
<script type="text/javascript" src="/ebay/resources/libs/jquery.datepick.ext.min.js"></script>


</body>
</html>
