<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		
    <![endif]-->

</head>

<body ng-app="app" ng-controller="ctrl">

 <iframe dir id="aaa" ng-src="{{url}}" width="500px" height="500px"></iframe>
 <button ng-click="change('http://localhost')"></button>
 <script type="text/javascript" src="/ebay/resources/libs/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/underscore-min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/angular.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/angular-touch.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/angular-load.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/jquery.blockUI.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/ui-bootstrap-custom-0.13.0.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/ui-bootstrap-custom-tpls-0.13.0.js"></script>
        <script type="text/javascript" src="/ebay/resources/libs/moment.js"></script>
          <script>
            angular.module('app',[]).controller('ctrl', function($scope, $sce) {
                $scope.url = $sce.trustAsResourceUrl("http://www.youtube.com");
                $scope.change = function(url) {
                    $scope.url = $sce.trustAsResourceUrl(url);
                }
            }).directive('dir' , function(){
                return {
                    link : function(scope, elem) {
                        elem[0].onload = function() {
                            alert("a");
                        }
                    }                   
                };
            })
        </script>
</body>

</html>