<div class="filterHeader" >
    {{filter.caption}}
</div>


<div class="line-separator"></div>
<div  class="listContainer" >
    <ul class="filterMemberList" ng-include="getInclude(filter)">

    </ul>
</div>

