<li class="filterMembersGroup {{filterMember.selected}} {{filterMember.isDisabled}}"
    ng-click="toggleCollapsed(filterMembersGroup,$event)" ng-repeat="filterMembersGroup in filter.groups"
    ng-if="filterMembersGroup && filterMembersGroup.members && filterMembersGroup.members.length > 0">
    <img src="/ebay/resources/images/arrow.png" class="collapsibleInd {{filterMembersGroup.collapsed}}" >
    {{filterMembersGroup.groupName}}
    <ul class="groupList collapsible {{filterMembersGroup.collapsed}}">
        <li class="groupMember filterMember {{filterMember.selected}} {{filterMember.isDisabled}}"
            ng-click="filter.applyFilter(filter, filterMember, $event)" ng-repeat="filterMember in filterMembersGroup.members">
            {{filterMember.value}}
            <img src="/ebay/resources/images/v.png" class="selection {{filterMember.selected}}" ng-show="filter.multiSelection">
            <img src="/ebay/resources/images/dot.png" class="selection {{filterMember.selected}}" ng-show="!filter.multiSelection">
        </li>
    </ul>
</li>
