<div class="newTimeFilter">
<div class="groupedTimeFilterContainer">
    <div class="groupedTimeFilterListContainer">
        <li class="filterMember2 timeGroupItem" ng-repeat="group in filter.groups" ng-show="!group.separated">
            <span class="timeGroupCaption">  {{group.groupName}}</span>
            <ul class="timeGroupList">
                <li class="groupMember2 timeFilterMember {{filterMember.selected}} {{filterMember.isDisabled}}"
                    ng-click="filter.applyFilter(filter, filterMember, $event); toggleDateRange(filterMember,$event)"
                    ng-repeat="filterMember in group.members" >
                    {{filterMember.value}}

                </li>
            </ul>
            <div class="timeFilterGroupSeparator" ng-show="!group.last"></div>
        </li>

    </div>
</div>
    <ul class="separatedFilterMembers">
        <li ng-repeat="group in filter.groups" ng-show="group.separated">
            <div class="timeFilterContainer {{group.members[0].selected}}" >
                <span class="customCaption {{group.members[0].selected}}" ng-click="filter.applyFilter(filter, group.members[0], $event); toggleDateRange(group.members[0],$event, filter)" >{{group.members[0].value}}</span>
            </div>
        </li>
    </ul>

</div>
<div class="customDates collapsible {{filterMember.collapsed}}">
    <div class="timeRange customDateFrom">
        <div class="rangeText fromRangeText">
            FROM
        </div>
        <input type='text' class="fromDatePicker" readonly></div>
    <div class="timeRange customDateTo">
        <div class="rangeText toRangeText">
            TO
        </div>
        <input type='text' class="toDatePicker" readonly></div>
</div>
