<li class="filterMember {{filterMember.selected}} {{filterMember.isDisabled}}"
    ng-click="filter.applyFilter(filter, filterMember, $event)" ng-repeat="filterMember in filter.members">
    {{filterMember.value}}
    <img src="/ebay/resources/images/v.png" class="selection {{filterMember.selected}}" ng-show="filter.multiSelection">
    <img src="/ebay/resources/images/dot.png" class="selection {{filterMember.selected}}" ng-show="!filter.multiSelection">
</li>