<div class="timeFilterContainer">
    <div class="timeFilterListContainer">
    <li class="filterMember timeFilter {{filterMember.selected}} {{filterMember.isDisabled}}"
        ng-click="filter.applyFilter(filter, filterMember, $event);  toggleDateRange(filterMember,$event)"
        ng-repeat="filterMember in filter.members">
        <span class="filterValues">  {{filterMember.value}}</span>
        <div class="vSeparator" ng-show="isCustom(filterMember)"></div>
    </li>
    </div>
</div>
<div class="customDates collapsible {{filterMember.collapsed}}">
    <div class="timeRange customDateFrom">
        <div class="rangeText">
            FROM
        </div>
        <input type='text' class="fromDatePicker" readonly></div>
    <div  class="timeRange customDateTo">
        <div class="rangeText">
            TO
        </div>
        <input type='text' class="toDatePicker" readonly></div>
</div>
