<div class="drsContainer">
    <div class="drsPickersArea">
        <div class="drsDatePicker">
            <div class="drsPickerCaption">FROM</div>
            <input ng-model="fromDate" type="date" class="datePicker">
        </div>
        <div class="drsDatePicker">
            <div class="drsPickerCaption">TO</div>
            <input ng-model="toDate" type="date" class="datePicker">
        </div>
    </div>
    <div class="drsSeparator"></div>
    <div class="drsButtonSection">
        <button class="ebayButton cancel" ng-click="isOpen = false;">CANCEL</button>
        <button class="ebayButton ok" ng-click="clickOK()">OK</button>
    </div>
</div>