<div class="filterHeader" ng-click="onHeaderClick()">
    <div class="dimTitle">{{filter.caption}}</div>
    <div ng-if="isCollapsed" class="selectedValue">{{selectedJaql.caption}}</div>
    <div ng-if="!isCollapsed" class="collapseDim"></div>
</div>
<div class="line-separator"></div>
<div class="listContainer" >
    <ul class="filterMemberList" collapse="isCollapsed">
        <li class="filterMember" ng-class="{ 'selectedMember' : jaqlItem.selected }"
            ng-click="selectMember(jaqlItem)" ng-repeat="jaqlItem in filter.jaqls">
            <div ng-switch="jaqlItem.type">
                <div ng-switch-when="memberSelection" ng-controller="jaqlMemberController">
                    <div dropdown class="dropdown" auto-close="disabled" on-toggle="toggled(open)" is-open="isOpen" ng-class="{'open' : isOpen}">
                        <div dropdown-toggle class="dropdown-toggle">
                            {{jaqlItem.caption}}
                            <div class="memberOpenMenu"></div>
                        </div>
                        <div class="dropdown-menu">
                            <ebay-member-selector></ebay-member-selector>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="dateRange" ng-controller="jaqlMemberController">
                    <div dropdown class="dropdown" auto-close="disabled" is-open="isOpen" on-toggle="toggled(open)" ng-class="{'open' : isOpen}">
                        <div dropdown-toggle class="dropdown-toggle">
                            {{jaqlItem.caption}}
                            <div class="memberOpenMenu"></div>
                        </div>
                        <div class="dropdown-menu">
                            <date-range-selector></date-range-selector>
                        </div>
                    </div>
                </div>
                <div ng-switch-default>{{jaqlItem.caption}}</div>
            </div>
        </li>
    </ul>
</div>