<div class="msContainer">
    <div class="msSearch">
        <div class="msSelectAll" ng-class="{'all': getSelectionCount() == members.length, 'some': getSelectionCount() > 0 && getSelectionCount() < members.length , 'none': getSelectionCount() == 0}" ng-click="setSelectionCount()"></div>
        <input type="text" class="msSearchBox" placeholder="SEARCH..." ng-model="searchText" ng-change="searchMembers()">
    </div>
    <div>
        <ul class="msMembersList">
            <li class="msMember" ng-repeat="m in members" ng-click="selectMemberFromList(m)">
                <div class="msCheckBox checkBox" ng-class="{'msCleared' : !m.selected, 'msChecked' : m.selected}"></div>
                <div class="msMemberCaption" ng-class="{'msSelectedMember' : m.selected}">{{m.text}}</div>
            </li>
        </ul>
    </div>
    <div class="msSeparator"></div>
    <div class="msTagsContainer">
        <div class="msMemberTag" ng-repeat="m in getSelectedMembers()">
            {{m.text}}
        </div>
    </div>
    <div class="msSeparator"></div>
    <div class="msButtonSection">
        <button class="ebayButton cancel" ng-click="isOpen = false;">CANCEL</button>
        <button class="ebayButton ok" ng-click="clickOK()">OK</button>
    </div>
</div>